{% extends 'Homepage.html' %}


  {% block title %}
    <title>Homepage</title>
  {% endblock %}


# Block Content
  {% block content %}
    <h1 style="text-align:center">Laptops in stock are as follows </h1>
    {% for r in object_list %}
      <div class="card mb-3 mx-5" style="max-width: 1200px;">
        <div class="row no-gutters">
          <div class="col-md-4">
<!--            {% for i in image %}-->
            <img src="https://source.unsplash.com/300x300/?HP Laptop">
<!--            {% endfor %}-->
          </div>
          <div class="col-md-8">
            <div class="card-body">

              <h5 class="card-title">{{r.Model_Name}}</h5>
              <h5 class="card-title">{{r.Company}}</h5>
              <h5 class="card-text">Processor:{{r.Processor}},Ram: {{r.RAM}}, ROM:{{r.ROM}}</h5>
                <h5 class="card-text">RAM: {{r.RAM}}, ROM:{{r.ROM}}</h5>

            </div>
          </div>
        </div>
      </div>
    {% endfor %}
<img src="https://source.unsplash.com/300x300/?HP Laptop">

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>
  {% endblock %}


